<%- include('partials/Header') %>

<div class="container"style="margin-top:100px;">
  <%- include('partials/flash') %>
  <div class="row">
    <%nails.forEach(function(nail){%>
      <div class="card col-md-4 my-1 .bg-light">
          <img style="height:250px;width:97% mx-auto; padding-top:10px;" src="<%= nail.image %>" alt="...">
          <hr>
          <div class="card-body">
            <h5 class="card-title"><%= nail.name %></h5>
            <p class="card-text"><%- nail.description.substring(0,30) %>... <a href="/nail/<%=nail._id%>"> Read More</a></p>  
          </div>
      </div> 
    <%})%>     
  </div>
  <% if(!currentUser||currentUser.username!=="vanessa"){%>
  <%} else {%>
    <a class="nav-link text-dark" href="/new">Add New Nail</a>
  <%}%>
</div>


<%- include('partials/Footer') %>